html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Bible Parsing
    link(rel="stylesheet", href="style.css")
    //- axios
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    //- local
  body
    .main-grid
      //- .book-list
     
            li Genesis
            li Exodus
            li Leviticus
            li Numbers
            li Deuteronomy
            li Joshua
            li Judges
            li Ruth
            li 1 Samuel
            li 2 Samuel
            li 1 Kings
            li 2 Kings
            li 1 Chronicles
            li 2 Chronicles
            li Ezra
            li Nehemiah
            li Esther
            li Job
            li Psalms
            li Proverbs
            li Ecclesiastes
            li Song of Solomon
            li Isaiah
            li Jeremiah
            li Lamentations
            li Ezekiel
            li Daniel
            li Hosea
            li Joel
            li Amos
            li Obadiah
            li Jonah
            li Micah
            li Nahum
            li Habakkuk
            li Zephaniah
            li Haggai
            li Zechariah
            li Malachi
      .container
        input(type="text", placeholder="Gen 1:10-16")
        .result
     
      script(defer, src="script.js")
  
