doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title ბიბლიის მუხლები
    link(rel="stylesheet", href="style.css")
  body
    .main-grid
      .container
        input(type="text", placeholder="Gen 1:10-16", list="books", id="search")
        datalist#books 
          option(value="დაბ") დაბ
          option(value="გამ") გამ
          option(value="ლევ") ლევ
          option(value="რიცხ") რიცხ
          option(value="რჯლ") რჯლ
          option(value="იესო") იესო
          option(value="მსაჯ") მსაჯ
          option(value="რუთ") რუთ
          option(value="1მეფ") 1მეფ
          option(value="2მეფ") 2მეფ
          option(value="3მეფ") 3მეფ
          option(value="4მეფ") 4მეფ
          option(value="1ნეშტ") 1ნეშტ
          option(value="2ნეშტ") 2ნეშტ
          option(value="ეზრ") ეზრ
          option(value="ნეემ") ნეემ
          option(value="ესთ") ესთ
          option(value="იობ") იობ
          option(value="ფსალმ") ფსალმ
          option(value="იგავ") იგავ
          option(value="ეკლ") ეკლ
          option(value="ქებ") ქებ
          option(value="ეს") ეს
          option(value="იერ") იერ
          option(value="გოდ") გოდ
          option(value="ეზეკ") ეზეკ
          option(value="დან") დან
          option(value="ოს") ოს
          option(value="იოელ") იოელ
          option(value="ამოს") ამოს
          option(value="აბდ") აბდ
          option(value="იონ") იონ
          option(value="მიქ") მიქ
          option(value="ნაუმ") ნაუმ
          option(value="აბაკ") აბაკ
          option(value="სოფ") სოფ
          option(value="ანგ") ანგ
          option(value="ზაქ") ზაქ
          option(value="მალ") მალ
          option(value="მათ") მათ
          option(value="მარკ") მარკ
          option(value="ლუკ") ლუკ
          option(value="იოან") იოან
          option(value="საქმე") საქმე
          option(value="იაკ") იაკ
          option(value="1პეტრ") 1პეტრ
          option(value="2პეტრ") 2პეტრ
          option(value="1იოან") 1იოან
          option(value="2იოან") 2იოან
          option(value="3იოან") 3იოან
          option(value="იუდ") იუდ
          option(value="რომ") რომ
          option(value="1კორ") 1კორ
          option(value="2კორ") 2კორ
          option(value="გალ") გალ
          option(value="ეფეს") ეფეს
          option(value="ფილიპ") ფილიპ
          option(value="კოლ") კოლ
          option(value="1თეს") 1თეს
          option(value="2თეს") 2თეს
          option(value="1ტიმ") 1ტიმ
          option(value="2ტიმ") 2ტიმ
          option(value="ტიტ") ტიტ
          option(value="ფილ") ფილ
          option(value="ებრ") ებრ
          option(value="გამოცხ") გამოცხ
        .result 
      script(defer, type="module" src="main.js")
  
