doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title ბიბლიის მუხლები
    link(rel="stylesheet", href="style.css")
  body
    .main-grid
      .container
        input(type="text", placeholder="Gen 1:10-16")
        .result 
      script(defer, type="module" src="main.js")
  
