doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title ბიბლიის მუხლები
    link(rel="stylesheet", href="style.css")
  body
    .main-grid
      .container
        input(type="text", placeholder="Gen 1:10-16", list="books", id="search")
        datalist#books 
          option(value="გამ") გამოსვლა
          option(value="გამოცხ") გამოცხადება
        .result 
      script(defer, type="module" src="main.js")
  
